<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title></title>
  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

    .alert {
      margin: 0px;
    }
  </style>

  <title></title>
</head>

<body>

  {% include "school/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert alert-success' style="margin-bottom:0px;">About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">Christ memorial group of school established in the year 1974, than the pioneer of English medium school in the town. 38 years of glorious service has made us grow in various fields from plant to tree, giving shed and fruits to many aspirants. I hope our schools offer an excellent option to the parents to build their children`s future. Only as high as we reach can we grow Only as far as we see can we go Only as deep as we look can we see Only as much as we dream can we be
</p>
    <hr class="my-4">
    <p>Explore our Website.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>

  {% include "school/footer.html" %}
</body>

</html>
